<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comment-meta">
            {{user.username}} on {{dateFormat created_at 'MMMM'}}
        </div>
        <div class="comment-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>