<form class="login-form">
  <div class="email-input-div">
    <label for="email-login" class="email-login-label">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <p class="loginFail"></p>
  <div>
    <button type="submit">Login</button>
  </div>
  <div>
    <p class="signup-p">Don't have an account? <a href="/signup" class="signup-link">Signup now!</a></p>
  </div>
</form>

<script src="/js/login.js"></script>